/* https://github.com/lipu-linku/ilo/tree/master/fonts */
/* https://docs.google.com/spreadsheets/d/1DMgOQHw3R5yyrNF9BwWw9nWMwYaxI7D40-oEhI2Gm-c/edit#gid=2059014562 */

/* Fonts last updated Jan 23, 2022 */

@font-face {
  font-family: 'linja sike';
  src: url(fonts/linja-sike-5.otf);
}

@font-face {
  font-family: 'Fairfax';
  src: url(fonts/Fairfax.ttf);
  /* codepoints, same as FairfaxHD. see link for documentation */
  /* https://www.kreativekorp.com/charset/font/Fairfax/ */
}

@font-face {
  font-family: 'FairfaxHD';
  src: url(fonts/FairfaxHD.ttf);
  /* codepoints, same as Fairfax. see link for documentation */
  /* https://www.kreativekorp.com/charset/font/FairfaxHD/ */
}

@font-face {
  font-family: 'insa pi supa lape';
  src: url(fonts/supalape.otf);
}

@font-face {
  font-family: 'linja ante';
  src: url(fonts/linja-ante.ttf);
}

@font-face {
  font-family: 'linja luka';
  src: url(fonts/linja-luka-1.0.otf);
}

@font-face {
  font-family: 'linja pimeja';
  src: url(fonts/linjapimeja19.ttf);
}

@font-face {
  font-family: 'linja pimeja pona';
  src: url(fonts/linjapimejapona0.9.otf);
  /* pakala */
}

@font-face {
  font-family: 'linja pi tomo lipu';
  src: url(fonts/linjapitomolipu.0.7.ttf);
}

@font-face {
  font-family: 'linja pona';
  src: url(fonts/linja-pona-4.9.otf);
}

@font-face {
  font-family: 'linja suwi';
  src: url(fonts/linjasuwi.otf);
}

@font-face {
  font-family: 'linja wawa';
  src: url(fonts/linjawawa1.21.ttf);
}

@font-face {
  font-family: 'sitelen Kotopon';
  src: url(fonts/sitelenKotopon.otf);
  /* codepoints. see link for documentation */
  /* https://cdn.discordapp.com/attachments/934961599821787217/935042860619800576/unknown-45.png */
}

@font-face {
  font-family: 'sitelen Latin';
  src: url(fonts/SitelenLatin_1.3.6.ttf);
  /* sitelen sitelen */
}

@font-face {
  font-family: 'sitelen luka tu tu';
  src: url(fonts/sitelen_luka_tu_tu.ttf);
}

@font-face {
  font-family: 'sitelen pona kiwen';
  src: url(fonts/sitelen-pona-kiwen-nanpa-tu.ttf);
  /* codepoints, uses Latin Extended-A's code block. see link for documentation */
  /* https://docs.google.com/spreadsheets/d/1JY2E7EpUQi0aZHanQwMeXdp9bERt83BEDglX9K2iWeY/edit?pli=1#gid=892623841 */
}

@font-face {
  font-family: 'sitelen pona pona';
  src: url(fonts/sitelen-pona-pona.otf);
}

@font-face {
  font-family: 'sitelen telo';
  src: url(fonts/sitelen_telo_1.01.otf);
  /* sitelen telo */
}

@font-face {
  font-family: 'sitelen telo Momo';
  src: url(fonts/sitelen-telo-Momo-1.04.ttf);
  /* sitelen telo */
}
