html {
  background-color: lightblue;
}

#kama-pona {
  font-family: 'linja sike';

  font-size: 3em;
  text-align: center;
  color: yellow;

  height: 1em;
}

.ki {
  font-family: 'linja sike';
}

#lawa-nasin, #awen-sitelen {
  background-color: skyblue;
  width: 90vw;

  border-radius: 10px;
  padding: 10px;

  margin-left: auto;
  margin-right: auto;
  display: block;
}

#poki-pi-nimi-linja, #poki-pi-sona-suli, #sona-ike-lipu {
  display: none;
}

.explanation-text {
  color: #555555;
}

.sona-ike {
  color: #aa0000;
}

#sitelen-Latin {
  width: 90vw;
  height: 10vh;

  border-radius: 10px;
  padding: 10px;

  margin-left: auto;
  margin-right: auto;
  display: block;
}

#sitelen-pona {
  font-family: 'linja sike';

  width: 90vw;
  height: auto;
  padding: 10px;

  margin-left: auto;
  margin-right: auto;
  display: block;
}

#attribution {
  text-align: center;
  color: skyblue;
}
